<!DOCTYPE html>

<html>

<head>
    <title>Help</title <link rel="icon" href="/img/weather.png">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p style="color: #888888">This page uses almost 100 API request from Mapbox and DarkSky.
            That will take 10 seconds to render live temeperatures from current hour and minute.</p>
        <p style="color: #888888">{{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>