<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this to get the weather for input location</p>

        <form id="weather-form">
            <input id="weather-input" autocomplete="off" placeholder="Location">
            <button>Search</button>
        </form>

        <p style="font-weight: bold" id="weather-message-1"></p>
        <p id="weather-message-2"></p>

        <p>Use this to get the coordinates for input location</p>

        <form id="coordinates-form">
            <input id="coordinates-input" autocomplete="off" placeholder="Location">
            <button>Search</button>
        </form>

        <p style="font-weight: bold" id="coordinates-message-1"></p>
        <p id="coordinates-message-2"></p>

        <p>Use this to get your coordinates</p>
        <button id="geolocation-button">Geolocation</button>
        <p><a href="" target="_blank" id="geolocation-message"></a></p>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>